<html lang="en" class="dark bg-white dark:bg-black">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <link
        rel="stylesheet"
        href="{{ url_for('static', filename='input.css') }}"
    /> -->
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='output.css') }}"
    />
    <title>My Website</title>
    <!-- Tailwind CDN -->
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
</head>
<body>
    {% block content %}{% endblock %}
    <!-- theme button -->
    <button id="darkMode" class="rounded-full fixed top-4 right-4 p-2 bg-black dark:bg-white text-white dark:text-black">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-moon"><path d="M12 3a6 6 0 0 0 9 9 9 9 0 1 1-9-9Z"/></svg>
    </button>
    <!-- fetch example (see below) -->
    <!-- <div class="text-2xl text-black" id="text"></div> -->
    <div class="fixed bottom-0 right-0">
        <div class="relative">
            <!-- minecraft -->
            <iframe class="duration-300 bg-black rounded-tl-3xl" width="560" height="315" src="https://www.youtube.com/embed/n_Dv4JMiwK8?si=OFteVNJCQ-imosxl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

            <!-- fullscreen button -->
            <button id="fullscreen" class="rounded-xl z-50 bg-white hover:bg-neutral-200 duration-300 hover:shadow-2xl hover:scale-105 hover:-translate-y-0.5 active:duration-75 active:translate-y-0.5 active:bg-neutral-400 p-2 shadow-lg absolute top-4 left-4">
                <svg id="fullscreen-icon-full" class="" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-maximize"><path d="M8 3H5a2 2 0 0 0-2 2v3"/><path d="M21 8V5a2 2 0 0 0-2-2h-3"/><path d="M3 16v3a2 2 0 0 0 2 2h3"/><path d="M16 21h3a2 2 0 0 0 2-2v-3"/></svg>
                <svg id="fullscreen-icon" class="hidden" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-minimize"><path d="M8 3v3a2 2 0 0 1-2 2H3"/><path d="M21 8h-3a2 2 0 0 1-2-2V3"/><path d="M3 16h3a2 2 0 0 1 2 2v3"/><path d="M16 21v-3a2 2 0 0 1 2-2h3"/></svg>
            </button>
        </div>
    </div>

    <script>
        // On page load or when changing themes, best to add inline in `head` to avoid FOUC
        if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        document.documentElement.classList.add('dark')
        } else {
        document.documentElement.classList.remove('dark')
        }

        const fullscreenButton = document.getElementById('fullscreen');
        console.log(fullscreenButton);

        fullscreen.addEventListener('click', () => {
            const iframe = document.querySelector('iframe');
            iframe.classList.toggle('!w-screen');
            iframe.classList.toggle('!h-screen');
            iframe.classList.toggle('rounded-tl-3xl');
            const fullscreenIcon = document.getElementById('fullscreen-icon-full');
            const minimizeIcon = document.querySelector('#fullscreen-icon');
            fullscreenIcon.classList.toggle('hidden');
            minimizeIcon.classList.toggle('hidden');
        });

        const darkModeButton = document.getElementById('darkMode');

        darkModeButton.addEventListener('click', () => {
            document.documentElement.classList.toggle('dark');
        });

        // fetch example (for text above)
        // let rand = -1;
        // function getRand() {
        //     fetch("/rand")
        //     .then(d => d.text())
        //     .then(d => (rand = d));
        // }

        // setInterval(() => {
        //     getRand();
        //     document.getElementById('text').innerText = rand;
        // }, 1000);
    </script>
</body>
</html>