{% extends "base.html" %}
{% block content %}
<a href="{{ url_for('index_route') }}">Back to Home</a>
<h1>Upload Photo for user: {{ current_user.username }}</h1>

<form action="" method="post" enctype="multipart/form-data">
    {{ form.csrf_token }}
    {{ form.photo.label }} {{ form.photo() }} <br>
    {% if form.photo.errors %}
        Errors:
        <div>
            {% for error in form.photo.errors %}
                <div>{{ error }}</div>
            {% endfor %}
        </div>
    {% endif %}
    {{ form.submit() }}
</form>
{% endblock %}
