{% extends "base.html" %}
{% block content %}
<a href="{{ url_for('index_route') }}">Back to Home</a>
<h1>Create Post</h1>
<h1>User: {{ current_user.username }}</h1>

{# empty string for action is the same as providing the current page's route #}
{# for example, we could've done action="/createpost" here and it would do the same thing #}
<form action="" method="post">
    {{ form.csrf_token }}
    {{ form.text.label }} {{ form.text(size=60) }} <br>
    {% if form.text.errors %}
        Errors:
        <div>
            {% for error in form.text.errors %}
                <div>{{ error }}</div>
            {% endfor %}
        </div>
    {% endif %}
    {{ form.submit() }}
</form>
{% endblock %}
